<% layout('layouts/boilerplate.ejs') -%>
<body class="bg-background-light dark:bg-background-dark text-white min-h-screen">
    <% if(activeTab === 'Home') { %>
        <%- include('../includes/homeTabs/home.ejs') %>
    <% } else if(activeTab === "Profile" && currUser) { %>
        <%- include('../includes/homeTabs/profile.ejs') %>
    <% } else if(activeTab === "MyBets") { %>
        <%- include('../includes/homeTabs/myBets.ejs') %>
    <% } else if(activeTab === "SettledBets") {%>
        <%- include('../includes/homeTabs/settledBets.ejs') %>
    <% }else if(activeTab === "Casino") { %>
        <%- include('../includes/homeTabs/casino.ejs') %>
    <% } %>




    
</body>

</html>